<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home_design.db</title>
</head>
<body>
<h3>Home Success</h3>
{% for d in data%}
    {{d.id}}<br><br>
    {{d.title}}<br><br>
    {{d.discription}}<br><br>
    {{d.uuid}}<br><br>
    {{d.genres}}<br><br>
    {{d.col_on}}<br><br>
    {{d.collection}}<br><br>

{% endfor %}

{% for d in data2%}
    {{d.id}}<br><br>
    {{d.title}}<br><br>
    {{d.discription}}<br><br>
    {{d.uuid}}<br><br>
    {{d.genres}}<br><br>
    {{d.col_on}}<br><br>
    {{d.collection}}<br><br>

{% endfor %}
</body>
</html>